		#border
		{
			background-color: #20639b;
			height: 15%;
			width: 100%;
			color: white;		
		}
		body{
			font-family: Arial, Helvetica, sans-serif;
			background: rgb(32,99,155);
            background: linear-gradient(0deg, rgba(32,99,155,1) 0%, rgba(255,243,208,1) 100%);
			height: 100%;
			margin: 0;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		#contactus:hover{
			border-color: white;
		}
		#login{
      		top:33px;
      		left:1130px;
			position: absolute;
			background-color:#20639b;
			border-color: #20639b;
		}
		#contactus{
			top:33px;
      		left:1260px;
			position: absolute;
			background-color:#20639b;
			border-color: #20639b;
			font-family: Arial, Helvetica, sans-serif;
		}
		.dropdown {
		  position: relative;
		  display: inline-block;
		  position: relative;
		  left:7%;
		}

		#myDropdown{
			position: relative; 
			top: -23px;
		}

		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #eee;
		  min-width: 230px;
		  overflow: auto;
		  border: 1px solid #ddd;
		  z-index: 1;
		  width: 400px;
		}

		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}

		.dropdown a:hover {
			background-color: #2d2d2d;
			color: white;
		}
		.show {
			display: block;
		  }
		#login:hover{
			border-color: white;
		}
		#Join:hover{
			background-color: #aaa;
			border-color: #aaa;
		}
		#header1{
			height: auto;
			width: 100%;		
		    cursor: pointer;
		}
		#contin{
		    position: relative;
		    width: 220px;
		    height: 100px;
		    top:-6%;
		    left:90px;
		}
		#Search{
			width: 400px;
			top:-65px;
            left:550px;
            height: 42px;
            position: relative;
			text-align: center;
		}
		#databaseSearch{
			top:-65px;
			left:550px;
			position: relative;
			width: 46px;
			height: 42px;
			background-color: white;
			border-color: white;
		}
		#border2{
		  margin-top:5em;
		  left: 380px;
	      height: 260%;
	      width: 50%;
	      position: absolute;
	      border-radius: 25px;
	      background-color: #ffffffbe;
		  color: rgb(0, 0, 0);
		  margin-bottom: 100px;
    	}
    	.form-group{
    		top: 130px;
    		width:80%;
    		left: 80px;
    		position: relative;
    	}
    	.labels{
    		top: 130px;
    		left: 80px;
    		position: relative;
    	}
    	#exampleModalLabel{
    		position: relative;
    		left:80px;
    		top:70px;
    	}
    	#terms{
    		position: relative;
    		margin-left: 6em;
    	}
    	#Join{
    		color: white;
      		background-color: #20639b;
      		border-color: black;
      		position: relative;
      		width: 80%;
      		height: 60px;
			margin-top:5em;
			margin-left: 5em;
    	}